<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="first_name"><b>firstname</b></label> 
        <input type="text" id="title" name="first_name" style="width:100%" value="{{ members.first_name }}" required> <br> <br>
    
         <label for="last_name"><b>lastname</b></label> 
         <input type="text" id="author" name="last_name" style="width:100%" value="{{ members.last_name }}" required><br> <br>
    
        <label for="email"><b>email</b></label> &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
        <input type="text" id="ISBN" name="email" style="width:100%" value="{{ members.email }}" required><br> <br>
    
        <label for="membership_date"><b>member since</b></label> &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
        <input type="text" id="available" name="membership_date" style="width:100%" value="{{ members.membership_date }}" required><br> <br>
        </form> 
</body>
</html>